<div class="dialog-laptops">
  <div *ngIf="productpc" class="dialog-laptops__content">
    <h1 class="dialog-laptops__content__title">{{ productpc.name }}</h1>
    <img
      [src]="productpc.photo"
      [alt]="productpc.name"
      width="200px"
      height="200px"
      class="dialog-laptops__content__image"
    />
    <p class="dialog-laptops__content__price">
      Precio: {{ productpc.price | currency }}
    </p>
    <p
      *ngIf="productpc.description"
      class="dialog-laptops__content__description"
    >
      Descripción: {{ productpc.description }}
    </p>
    <button
      type="button"
      (click)="addToCart(productpc)"
      class="content__button--add"
    >
      Añadir al carrito
    </button>
    <button
      type="button"
      mat-raised-button
      mat-dialog-close
      class="content__button--close"
    >
      Cerrar
    </button>
  </div>
</div>
