<h1 class="title">Laptops Gamers</h1>
<div class="product-container">
  <div class="card-container" *ngFor="let pc of pclist">
    <mat-card class="card">
      <mat-card-title class="card__title">
       
        <h3 class="card__title-text">
          <a class="card__title-link" [title]="pc.name + 'detalles'">
            {{ pc.name }}
          </a>
        </h3>
      </mat-card-title>

      <mat-card-content class="card__content">
        <img class="photo" [src]="pc.photo" [alt]="pc.name" width="200px" height="200px" /> <br>
        <button class="card__button card__button--share" type="button" (click)="share(pc.name)">
          compartir
        </button>

        <button class="card__button card__button--details" type="button" [routerLink]="['/productspc', pc.id]">
          Detalles
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>
