@use "/src/app/shared/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  box-shadow: 5px 5px 10px #000;
  background-color: rgba(0, 0, 0, 0.3); 
  margin-top: 10%;
  width: 80%;
  max-width: 900px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    padding-top: 5%;
    text-align: center;
    color: variables.$Colorfont;

    &__h3 {
      font-size: 2rem;
    }
  }

  &__content {
    &__p {
      text-align: center;
      padding-top: 0.8rem;
      font-size: 20px;
      color: variables.$Colorfont;
    }

    &__photo {
      display: flex;
      margin: 5% auto;
      margin-top: 1.5rem;
      max-width: 100%;
    }
  }
}


.github-link{
  position: absolute;
  margin-top: 10px;
  margin-left: 300px;
}

.twitter-link{
  position: absolute;
  margin-top: 10px;
  margin-left: 400px;
}

.linkedin-link{
  position: absolute;
  margin-top: 10px;
  margin-left: 500px;
}