@use "/src/app/shared/variables";
  
@media screen and (min-width: 800px){
  .contenedorPadre{
    position: absolute;
}

.contenedorPadre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .bar {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
  
    &__name {
      padding-left: 10px;
      cursor: pointer;
    }
  
    &__list {
      display: flex;
      list-style: none;
      margin: 30rem;
    }
  
    &__list li {
      margin-right: 20px;
      padding: 10px;
    }
    &__list .a1 {
      position: relative;
      margin-left: -20px;
      text-decoration: none;
      color: #fff;
      border-bottom: 5px solid rgba(255, 255, 255, 0.8);

      &:hover {
        padding: 2px;
        filter: drop-shadow( 0 2px 4px rgba(255, 255, 255, 0.8));
        color: #fff;
      }
    }
    &__cart {
      background-color: rgba(3, 3, 3, 0.5);
      width: 6rem;
      height: 3rem;
    }
  }
}  

@media screen and (max-width: 800px) {
  .contenedorPadre {
    position: relative;
  }

  .bar {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;

    &__name {
      padding-left: 10px;
      cursor: pointer;
      flex: 1;
    }

    &__list {
      display: none;
    }

    &__cart {
      display: block;
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }
  }
}
